@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

:root {
	--dark: #17252a;
	--light: #feffff;
	--main: #3aafa9;
	--secondary: #2b7a78;
	--smooth: #def2f1;
	--warning: #db1414;
}
body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: var(--smooth);
}

.main {
	height: 90vh;
	overflow: hidden;
	overflow-y: auto;
	background-color: var(--smooth);
}
.header {
	width: 100%;
	align-items: center;
	background-color: var(--dark);
	box-shadow: 2px 2px 10px #0008;
	color: var(--light);
	display: flex;
	font-family: 'Lato', sans-serif;
	justify-content: space-between;
	margin: 0;
	padding: 0.5em 0;
	height: 10vh;
	z-index: 1;
}

.header__title {
	font-family: 'Ubuntu', sans-serif;
	font-size: 48px;
	font-weight: 700;
	cursor: default;
	width: fit-content;
	padding: 0 50px;
}

.header__links {
	align-items: center;
	display: flex;
	padding: 0 50px;
}

.header__links > a {
	color: var(--smooth);
	cursor: pointer;
	font-size: x-large;
	font-weight: 400;
	text-decoration: none;
}
.header__links > a:visited {
	color: var(--smooth);
}

.header__links > a:hover,
.header__links > a:focus {
	color: var(--light);
	text-decoration: underline;
}

.header__links > b {
	color: var(--smooth);
	font-size: x-large;
	font-weight: 400;
	margin: 0 0.5em;
}

.dashboard .dashboardLink,
.dashboard .employeeLink,
.dashboard b {
	display: none;
}

.employee .employeeLink {
	display: none;
}

footer {
	background-color: var(--dark);
	box-shadow: 2px 2px 10px #0008;
	color: var(--main);
	font-family: 'Lato', sans-serif;
	margin: 0;
	padding: 0.5em 50px;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 5vh;
}

footer > p {
	margin: 1em auto;
	width: fit-content;
}

footer > p > a {
	color: var(--light);
	text-decoration: none;
}

footer > p > a:hover,
footer > p > a:focus {
	text-decoration: underline;
}
footer > p > a:hover,
footer > p > a:focus {
	text-decoration: underline;
}

@keyframes appearWidth {
	from {
		max-width: 0;
	}
	to {
		max-width: 200px;
	}
}

/*-----ScrollBars-----*/
/* width */
::-webkit-scrollbar {
	width: 10px;
	border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: var(--dark);
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--main);
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: var(--main);
}
