
.modal-wrapper {
    position: fixed;
    z-index: 1;
    background-color: #17252a38;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.modal-wrapper.appearing {
    animation: fadeIn 0.3s forwards;
}

.modal-wrapper.disappearing {
    animation: fadeOut 0.3s forwards;
}

.modal-container {
    font-family: 'Lato', sans-serif;
    background-color: var(--smooth);
    color: var(--secondary);
    border-radius: 10px;
    box-shadow: 2px 2px 10px #0008;
}

.modal__input {
    color:var(--secondary);
    background-color: var(--light);
    border-radius: 5px;
    font-size: large;
    font-family: 'Lato', sans-serif;
    margin: 10px;
    border: 2px solid var(--smooth);
    box-shadow: inset 1px 1px 5px #0008;
    padding: 0.2em 0.25em;
}

.modal__input:hover, .modal__input:focus {
    border: 2px solid var(--main);
    outline: none;
}

.centered-modal {
	position: fixed;
	top: 50%;
	left: 50%;
    transform: translate(-50%,-50%);
}

.add-modal {
    font-family: 'Lato', sans-serif;
    background-color: var(--smooth);
    box-shadow: 2px 2px 10px #0008;
    padding: 30px;
    color: var(--secondary);
    border-radius: 10px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-modal #modal-image {
    cursor: pointer;
    transition: filter 0.4s;
}

.add-modal #modal-image:hover {
    filter: sepia(0.4);
}

.add-modal .modal-title {
    text-align: center;
    margin-top: 0;
    color: var(--dark);
}

.labeled-input {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-modal form .fields {
    display: flex;
    justify-content: space-around;
    gap: 16px;

}

.add-modal form input[type="submit"] {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.2em 2em;
    background-color: var(--main);
    box-shadow: 1px 1px 5px #0008;
    color:var(--light);
    border:none;
    cursor: pointer;
}

.add-modal form input[type="submit"]:hover, .add-modal form input[type="submit"]:focus{
    background-color: var(--secondary);
    border:none;
}

.deletion-modal-container {
    border: none;
    border-radius: 8px;
    overflow: hidden;
    animation: deletionAppear 0.6s forwards;
}

.deletion-modal {
    position: relative;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    padding: 16px;
    font-family: 'Lato', sans-serif;
    background-color: var(--smooth);
    color: var(--secondary);
    border-radius: 10px;
    box-shadow: 2px 2px 10px #0008;
}

.deletion-modal .message {
    color: var(--dark);
    font-size: large;
}

.deletion-modal .message .employee {
    color: var(--secondary);
    cursor: pointer;
    transition: color 0.2s;
}

.deletion-modal .message .employee:hover {
    color: var(--main);
    
}

.deletion-modal .button__delete {
    position: relative;
    padding: 0.2em 2em;
    background-color: var(--main);
    box-shadow: 1px 1px 5px #0008;
    color:var(--light);
    border:none;
    cursor: pointer;
    margin-top: 1em;
}
.deletion-modal .button__delete:hover, .deletion-modal .button__delete:focus {
    background-color: var(--secondary);
    border:none;
}

.deletion-modal .button__close {
    position: absolute;
    display: none;
    right: 0;
    top: 0;
    color: var(--dark);
    background: none;
    border: none;
    cursor: pointer;
}

.modal-image{
    margin: 1em;
}

.avatarModal__background {
	position: absolute;
	width: 100vw;
	height: 100vh;
	margin: 0;
	top: 0;
	left: 0;
	z-index: 1;
	background-color: #feffff55;
}
.avatarModal {
	box-sizing: border-box;
	background-color: var(--dark);
	border-radius: 10px;
	box-shadow: 2px 2px 10px #0008;
	height: 90vh;
	margin: 5vh auto;
	max-width: 530px;
	padding: 10px;
	position: relative;
	z-index: 1;
	width: 80vw;
}

.avatarModal__close {
	background-color: #0000;
	border: none;
	color: var(--smooth);
	cursor: pointer;
	left: 0;
	margin: 0.5em;
	position: absolute;
	font-size: 28px;
}

.avatarModal__close:hover,
.avatarModal__close:focus {
	color: var(--light);
	outline: none;
}

.avatarModal__image {
	width: fit-content;
	margin: 20px auto;
}

button#avatarRandom__button {
	position: absolute;
	top: 0.5em;
	right: 0.5em;
	font-size: x-large;
}

#avatarOptions {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

#avatarRandom__button > * + * {
	margin-left: 10px;
}

#avatarRandom__button {
	background-color: #0000;
	border: none;
	color: var(--smooth);
	cursor: pointer;
	right: 0;
	margin: 0.5em;
	position: absolute;
	font-size: xx-large;
}
#avatarRandom__button:focus,
#avatarRandom__button:hover {
	color: var(--light);
	outline: none;
}

#avatarOptions {
	color: #feffff;
	background-color: #2b7a78;
	border-radius: 10px;
	font-size: large;
	font-family: 'Lato', sans-serif;
	margin: 10px;
	border: none;
	border: 2px solid #0000;
	text-transform: capitalize;
}

#avatarOptions:focus,
#avatarOptions:hover {
	border: 2px solid var(--light);
	cursor: pointer;
	outline: none;
}

.avatarModal__results {
	overflow-y: scroll;
	max-height: 53%;
}

.avatarModal__results__button {
	padding: 0;
	width: 105px;
	margin: 10px;
	background-color: var(--secondary);
	border: 2px solid #0000;
	border-radius: 50%;
	box-shadow: 2px 2px 10px #0008;
}

.avatarModal__results__button.selected {
	border: 2px solid var(--smooth);
}

.avatarModal__results__button:hover,
.avatarModal__results__button:focus {
	border: 2px solid var(--smooth);
	box-shadow: 1px 1px 5px #0008;
	cursor: pointer;
	outline: none;
}

.avatarModal__colorTag {
	position: absolute;
	right: -15px;
	top: 190px;
	font-size: x-large;
	font-family: 'Lato', sans-serif;
	color: var(--smooth);
	transform: rotate(-90deg);
	transition: opacity 0.2s;
}

.avatarModal__hairColorTag {
	position: absolute;
	left: -35px;
	top: 190px;
	font-size: x-large;
	font-family: 'Lato', sans-serif;
	color: var(--smooth);
	transform: rotate(90deg);
	transition: opacity 0.2s;
}

.colors-container {
	padding: 3px;
}

.avatarModal__colors {
	position: absolute;
	max-width: 0;
	overflow: hidden auto;
	background-color: var(--dark);
	margin-left: 5px;
	z-index: 3;
	top: 0px;
	left: 100%;
	height: fit-content;
	max-height: 706px;
	border-radius: 10px 10px;
	transition: max-width 0.6s ease-in-out;
}

#avatarModalHairColors {
	position: absolute;
	max-width: 0;
	overflow: hidden auto;
	background-color: var(--dark);
	margin-right: 5px;
	z-index: 3;
	right: 530px;
	top: 0px;
	direction: rtl;
	max-height: 100%;
	border-radius: 10px;
	transition: max-width 0.6s ease-in-out;
}

.avatarModal__colors > p {
	color: var(--light);
	font-size: x-large;
	font-family: 'Lato', sans-serif;
	margin-left: 10px;
}
.avatarModal__hairColors > p {
	color: var(--light);
	font-size: x-large;
	font-family: 'Lato', sans-serif;
	margin-left: 10px;
}
.avatarModal__colors__button {
	border: none;
	border-radius: 50%;
	border: 2px solid #0000;
	margin: 5px;
	width: 60px;
	height: 60px;
	box-shadow: 2px 2px 10px #0008;
}

.avatarModal__colors__button.selected,
.avatarModal__colors__button:hover,
.avatarModal__colors__button:focus {
	border: 2px solid var(--light);
	box-shadow: 0px 0px 5px var(--light);
	cursor: pointer;
	outline: none;
}
path,
g,
mask,
svg {
	pointer-events: none;
}

@keyframes deletionAppear {
    from {
        max-width: 0;
    }
    to {
        max-width: 600px;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}